.container-principal {
    margin: 3rem 7.5vw;
}

.container-principal h1 {
    text-decoration: underline;
}

.container-principal li {
    margin: 0 0 0 4rem;
    list-style-position: outside;
}

.container-principal p {
}

