@font-face{
    font-family: 'Caveat';
    src: url('../font/Caveat/Caveat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Reem';
    src: url('../font/Reem_Kufi_Fun/ReemKufiFun-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-Regular.ttf');
}

body {
    color: #6e7880;
    font-family: 'Roboto';
    letter-spacing: 0.1rem;
    font-weight: 100;
    line-height: 1.5rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* BUG EM DISPOSITIVOS MÓVEIS AO ARRASTAR RAPIDAMENTE PARA CIMA O BACKGROUND LEVEMENTE SE MOVE JUNTO */
    background-attachment: fixed;
    background-image: linear-gradient(to top, rgba(185, 99, 0, 0.479), rgba(255, 255, 255, 0.37), white, white);
}

h1 {
    font-size: 2rem;
    margin: 2rem 0 1.5rem 0;
    line-height: 2.5rem;
}
h2 {
    font-size: 1.5rem;
    margin: 2rem 0 1.5rem 0;
}
h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 3rem 0 1rem 0;
    text-decoration: underline;
}
h4 {
    font-size: 1rem;
    font-weight: 600;
    margin: 2rem 0 1rem 0;
}
p{
    margin: 1rem 0;
    text-align: justify;
}


a {
    color: #6e7880;
    text-decoration: none;
    font-style: italic;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
}

strong{
    font-weight: 700;
}


.container-principal {
    flex-grow: 1;
    margin: 2rem 5vw;
    padding: 1rem ; /* se não colocar um padding, o MathJax buga a responsividade de formulas em linha. */
}

.container-principal p {
    text-indent: 3rem;
}

.container-img-centro {
    display: flex;
    justify-content: center;
}
.container-img-centro img {
    max-width: 100%;
}

.container-principal .img-direita{
    float: right;
    margin: 1rem 0rem 1rem 3rem;
    max-width: calc(40vw - 3rem);
}
.container-principal .img-esquerda {
    float: left;
    margin: 1rem 3rem 1rem 0rem;
    max-width: calc(50vw - 3rem);
}

.container-principal img {
    border: solid 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.superscript { /* usado para IR^n */
    vertical-align: super;
    font-size: smaller;
}

.revisar * {
    background-color: rgb(255, 109, 109);
    color: black;
}

/* Exibição e responsividade de fórmulas matemáticas */
.mat-em-bloco-mult{
    display: block;
    margin: 3rem 0;
    text-indent: 0rem;
    /* O text-ident gera conflito com as fórmulas do MathJax */
}

.mat-em-bloco,
.mat-em-linha {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    text-indent: 0rem;
    /* O text-ident gera conflito com as fórmulas do MathJax */
}

.mat-em-linha {

}

.container-principal .questao {
    margin: 3rem 0 1rem 0;
    text-indent: 0rem;
}

.alternativa {
    margin: 0.5rem 0;
}

.alternativa {
}

@media (max-width: 450px) {

    p {
        /* text-align: left; */
    }
    .container-img {
        display: flex;
        justify-content: center;
        padding: 1%;
    }
    .container-img img {
        max-width: 90%;
        width: 80%;
    }
    .container-principal .img-direita {
        float: none;
        max-width: none;
        margin: 1rem 0rem;
    }

    .container-principal .img-esquerda {
        float: none;
        max-width: none;
        margin: 1rem 0rem;
    }

}