/* Applets tem scrool automático ao serem clicados. Temos que encaixá-los na tela. O método do desk3 parece o melhor até agora, mas é gambiarra, deve-se evitar? Pode dar problema a longo prazo. Então vamos deixar os outros como estão e fazer a responsividade vertical pro desk2, desk3 e cel2. */
/* Estou convencido de que todos tem que seguir esse método. */
/* Fazer applet de 3 tamanhos, cel, desk, wide*/
/* falta wide soma-seno-cosseno */
/* falta cel  */




.container-geogebra-applet{

}

.container-geogebra-applet-cel,
.container-geogebra-applet-desk,
.container-geogebra-applet-wide {
    position: relative;
    height: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.container-geogebra-applet-cel,
.container-geogebra-applet-desk,
.container-geogebra-applet-wide {
    max-width: 100%;
}

.container-geogebra-applet-erro {
    display: none;
}


@media screen and (max-width: 349px){
    .container-geogebra-applet-cel,
    .container-geogebra-applet-desk,
    .container-geogebra-applet-wide{
        display: none;
    }
    .container-geogebra-applet-erro{
        display: flex;
    }
}
@media screen and (min-width: 350px) and (max-width: 768px) {
    .container-geogebra-applet-cel {
        /* Estilos para o applet de celular */
    }

    .container-geogebra-applet-desk,
    .container-geogebra-applet-wide {
        display: none;
        /* Esconde os outros applets */
    }
}

@media screen and (min-width: 768px) and (max-width: 1299px) {
    .container-geogebra-applet-desk {
        /* Estilos para o applet de desktop */
    }

    .container-geogebra-applet-cel,
    .container-geogebra-applet-wide {
        display: none;
        /* Esconde os outros applets */
    }
}

@media screen and (min-width: 1300px) {
    .container-geogebra-applet-wide {
        /* Estilos para o applet de widescreen */
    }

    .container-geogebra-applet-cel,
    .container-geogebra-applet-desk {
        display: none;
        /* Esconde os outros applets */
    }
}








/* 

.container-geogebra-applet-cel,
.container-geogebra-applet-desk
.container-geogebra-applet-cel2,
.container-geogebra-applet-desk2 {
    justify-content: center;
    align-items: center;
    text-align: center;
} */

/* @media (max-width: 480px) {
    .container-geogebra-applet-cel iframe{
        max-width: calc(90vw - 6rem);
    }
}
@media (max-width: 900px) {

    .container-geogebra-applet-cel2 iframe {
        max-width: calc(90vw - 6rem);
    }
} */

/* 

@media(min-width: 960px) {
    .container-geogebra-applet-cel{
        display: none;
    }
    .container-geogebra-applet-desk{
        display: none;
    }

}

@media (min-width: 650px && ) {

@media(max-width: 650px) {

    .container-geogebra-applet-desk{
        display: none;
    }
    .container-geogebra-applet-wide{
        display: none;
    }
} */

/* @media(max-height: 650px) {
    .container-geogebra-applet-cel {
        transform: scale(90%);
        height: auto;
    }

    .container-geogebra-applet-desk {
        transform: scale(75%);
        height: auto;
    }
} */
/* 
@media(max-height: 550px) {
    .container-geogebra-applet-cel {
        transform: scale(75%);
        height: auto;
    }

    .container-geogebra-applet-desk {
        transform: scale(60%);
        height: auto;
    }
} */




